div[class^="modazdirectory"]{
	clear: both;
}

	.modazdirectory__list{
		display: none;
	}
	
	#modazdirectory__select,
	#modazdirectory__submit{
		display: inline-block;
		font-size: 15px;
		box-sizing: border-box;
		margin: 0;
		padding-top: .6em;
		padding-bottom: .5em;
		border: solid 1px #7a7a7a;
		border-radius: 4px;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		background-color: #fff;
	}
	
	#modazdirectory__select{
		padding-right: 1.4em;
		padding-left: .8em;
		width: 140px;
		max-width: 100%;
		/* icon svg */
		background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23171717%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
		background-repeat: no-repeat, repeat;
		/* arrow icon position (1em from the right, 50% vertical) */
		background-position: right .7em top 50%;
		/* icon size */
		background-size: .65em auto;
	}

	#modazdirectory__select::-ms-expand{
		display: none;
	}
	
	#modazdirectory__select:hover,
	#modazdirectory__submit:hover{
		border: solid 1px #171717;
	}
	
	#modazdirectory__submit{
		padding-right: .8em;
		padding-left: .8em;
		margin-left: .5em;
		cursor: pointer;
	}
	
	.modazdirectory__label{
		font-weight: bold;
	}
	
	.modazdirectory__heading{
		font-size: 18px;
		color: #596060;
		margin: 10px 1.5% 1em 1.5%;
		border-bottom: solid 1px #ccc;
	}
	
	.modazdirectory__results{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	
	.modazdirectory__result{
		display: flex;
		position: relative;
		width: 100%;
		margin-bottom: 12px;
		line-height: 1.5;
		color: #596060;
		background: #fafafa;
		padding: .65em;
		box-sizing: border-box;
		box-shadow: 0 1px 2px rgba(0, 0, 0, .12);
	}
	
		/* http://tobiasahlin.com/blog/how-to-animate-box-shadow/ */
		.modazdirectory__result:after{
			content: '';
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
			opacity: 0;
			transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
		}
		
			.modazdirectory__result:hover:after{
				opacity: 1;
			}

		.modazdirectory__image,
		.modazdirectory__glyph-camera{
			display: block;
			align-self: center;
			width: 85px;
			height: 85px;
			min-width: 85px;
			line-height: 85px;
			border-radius: 50%;
			margin-right: 10px;
		}
		
			.modazdirectory__result.modazdirectory__layout-misc_on .modazdirectory__image,
			.modazdirectory__result.modazdirectory__layout-misc_on .modazdirectory__glyph-camera{
				width: 75px;
				height: 75px;
				min-width: 75px;
				line-height: 75px;
				margin-bottom: auto;		
			}

		.modazdirectory__glyph-camera{
			text-align: center;
			background-color: #f1f1f1;
		}

		.modazdirectory__image{
			object-fit: cover;
		}
		
		.modazdirectory__glyph-camera > .modazdirectory__icon{
			fill: #666;
			font-size: 20px;
		}
		
		.modazdirectory__result p{
			font-size: 15px;
			margin-bottom: 0;
		}
		
			.modazdirectory__result p.modazdirectory__nowrap{
				white-space: nowrap;
			}
		
			.modazdirectory__glyph{
				display: inline-flex;
				align-self: center;
				position: relative;
				height: 1em;
				width: 1em;
				min-width: 22px;
			}
			
				.modazdirectory__icon{
					width: 1em;
					height: 1em;
					display: inline-block;
					stroke-width: 0;
					stroke: currentColor;
					fill: #596060;
				}
				
					.modazdirectory__glyph > .modazdirectory__icon{
						position: absolute;
						bottom: -0.125em;
					}
		
		.modazdirectory__result blockquote{
			margin: 10px 0 5px 0;
			padding: 5px 20px;
			border-left: solid 5px #ddd;
		}
	
@media screen and (min-width: 360px){
	.modazdirectory__image,
	.modazdirectory__glyph-camera{
		width: 120px;
		min-width: 120px;
		height: 120px;
		line-height: 120px;
		margin-right: 20px;
	}
}

@media screen and (min-width: 640px){
	.modazdirectory__form{
		display: none;
	}

	.modazdirectory__list,
	.item-page ul.modazdirectory__list{
		display: flex;
		justify-content: space-between;
		font-size: 18px;
		list-style: none;
		text-align: center;
		margin-right: 1.5%;
		margin-left: 1.5%;
	}
	
		.modazdirectory__listitem,
		.modazdirectory__listitem-all,
		.item-page li.modazdirectory__listitem,
		.item-page li.modazdirectory__listitem-all{
			flex: 1; /* fill available space */
			margin: 0;
			color: #ddd;
		}
		
			.modazdirectory__listitem-all{
				display: flex;
				border-right: solid 1px #ccc;
			}
			
		.modazdirectory__link{
			display: flex;
			justify-content: center;
		}
}

@media screen and (min-width: 800px){
	.modazdirectory__result{
		width: 49.5%;
	}
}

/* pagination */
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qkwgqm');
  src:  url('fonts/icomoon.eot?qkwgqm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff2?qkwgqm') format('woff2'),
    url('fonts/icomoon.ttf?qkwgqm') format('truetype'),
    url('fonts/icomoon.woff?qkwgqm') format('woff'),
    url('fonts/icomoon.svg?qkwgqm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.modazdirectory__pagination [class^="icon-"], .modazdirectory__pagination [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modazdirectory__pagination .icon-angle-right:before {
  content: "\e902";
}

.modazdirectory__pagination .icon-angle-double-right:before {
  content: "\e903";
}

.modazdirectory__pagination .icon-angle-left:before {
  content: "\e900";
}

.modazdirectory__pagination .icon-angle-double-left:before {
  content: "\e901";
}

.modazdirectory__pagination .pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.modazdirectory__pagination .page-item{
	font-size: 15px;
	margin-left: 0;
}

.modazdirectory__pagination .page-link {
  position: relative;
  display: block;
  color: #596060;
  text-decoration: none;
  background-color: white;
  border: 1px solid #dfe3e7;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .modazdirectory__pagination .page-link {
    transition: none;
  }
}

.modazdirectory__pagination .page-link:hover {
  z-index: 2;
  color: #596060;
  background-color: #eaedf0;
  border-color: #dfe3e7;
}

.modazdirectory__pagination .page-link:focus {
  z-index: 3;
  color: var(--cassiopeia-color-hover);
  background-color: #eaedf0;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(89, 96, 96, 0.25);
}

.modazdirectory__pagination .page-item:not(:first-child) .page-link {
  margin-left: -1px;
}

.modazdirectory__pagination .page-item.active .page-link {
  z-index: 3;
  color: white;
  background-color: #596060;
  border-color: #596060;
}

.modazdirectory__pagination .page-item.disabled .page-link {
  color: #6d757e;
  pointer-events: none;
  background-color: white;
  border-color: #dfe3e7;
}

.modazdirectory__pagination .page-link {
  padding: 0.375rem 0.75rem;
}

.modazdirectory__pagination .page-item:first-child .page-link {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.modazdirectory__pagination .page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

/* modal */
#modazdirectory__modal .control-group {
    margin: 1em 0;
}

#modazdirectory__modal div[itemtype="https://schema.org/Person"] > h1{
	display: none;
}

#modazdirectory__modal dl {
	margin-bottom: 18px;
}

#modazdirectory__modal dt,
#modazdirectory__modal dd {
	font-size: 15px;
	line-height: 1.5;
}

#modazdirectory__modal dt {
	font-weight: bold;
}

#modazdirectory__modal dd {
	margin-left: 9px;
}

#modazdirectory__modal .dl-horizontal:before,
#modazdirectory__modal .dl-horizontal:after {
	display: table;
	content: "";
	line-height: 0;
}

#modazdirectory__modal .dl-horizontal:after {
	clear: both;
}

#modazdirectory__modal .dl-horizontal dt {
	float: left;
	width: 160px;
	clear: left;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#modazdirectory__modal .dl-horizontal dd {
	margin-left: 180px;
}

@media (max-width: 767px) {
	#modazdirectory__modal .dl-horizontal dt {
		float: none;
		clear: none;
		width: auto;
		text-align: left;
	}

	#modazdirectory__modal .dl-horizontal dd {
		margin-left: 0;
	}
}